

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    
    /* Degradado oscuro fijo */
    background: linear-gradient(#F7EB00, #2FEBD2);
    background-attachment: fixed;
    
    
    /* Imagen de fondo animada */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: url('/IMG/Fondo_Inicio.png');
    background-size: 5%;
    background-position: center;
    
    /* Animación de movimiento */
    animation: movimientoFondo 5s linear infinite;
    opacity: 0.07; /* Ajusta la transparencia */
    z-index: -1;
}

@keyframes movimientoFondo {
    0% { background-position: 0 0; }
    100% { background-position: 0 200px; } /* Ajusta para mayor velocidad */
}



.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;

}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

form .contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.contraseña input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
}

.contraseña label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #4da855;
    transition: .5s;

}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: rgb(208, 56, 9);

}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

.contraseña span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #4da855;
    transition: .5s;

}

.contraseña input:focus ~ label,
.contraseña input:focus ~ label{
    top: -5px;
    color: rgb(208, 56, 9);

}

.contraseña input:focus ~ span::before,
.contraseña input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 10px 5px;
    color: #d46419;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    margin-bottom: 45px;
    background: rgb(208, 56, 9);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: green;
    transition: .5s;

}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: #d46419;
    text-decoration: none;
}

.register a:hover{
    text-decoration: underline;
}


/*---Opciones de registro---*/

.Iniciar_Con{
    position:relative;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color:  #555;


    height: 30%;

    left: 500px;
}

.Iniciar_Con h2{
    margin-bottom: 50px;
}

#Google, #Microsft, #facebook{
    margin: 10px;
    margin-top: 5%;
}

#Google, #Microsft, #facebook:hover{
    color: white;
    transform: scale(1.01);
}

